<section class="bg-[#F8F8F8]">
    <div class="flex shadow-sm bg-white border items-center border-[#ECF0F5] p-5 rounded-2xl justify-evenly">

        <div class="text-center me-3 bg-white border-2 rounded-2xl border-gray-300 px-[90.5px] py-[43px]">
            <i class=" p-5 rounded-2xl text-4xl bg-[#22BADC] text-[#FFFFFF] fa-solid fa-phone-flip"></i>
            <div class="text-center w-32">
                <p class=" text-[16px]  leading-[19.2px] text-[#1C1C28] py-4 font-[500] arabc-font">{{'Outgoing call' | translate}}</p>
                <p class="arabic-font text-[12px]  pop leading-[18px] text-[#6B7280]">15 <span
                        class="arabc-font">{{'October'| translate}}</span> 2024، 02:45 م</p>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-14">
            <div class="flex flex-col">
                <p class="mb-3 arabc-font font-[400] text-[13px] text-[#6B7280]">{{'Caller ID'| translate}}</p>
                <p class="pop font-[400] text-[14px] leading-[21px]">+201012345678</p>
            </div>



            <div class="col-span-2 flex flex-col items-start">
                <p class="mb-3 arabc-font font-[400] text-[13px] text-[#6B7280]">{{'Contacted by'| translate}} </p>

                <div class="flex justify-center items-center">
                    <img src=".\images\profile-square.jpg" class="size-10 mx-1 rounded-full" alt="">
                    <p class="arabc-font font-[400] text-[14px] leading-[21px]">{{'Ashraf Mohamed Rizk'| translate}}</p>
                    <div class="size-5 mx-2 flex justify-center items-center  bg-green-200 rounded-full">
                        <i class="text-[#48B29A] text-[8px] fa-solid fa-user"></i>
                    </div>
                </div>
            </div>


            <div class="flex flex-col">
                <p class="mb-3 arabc-font font-[400] text-[13px] text-[#6B7280]">{{'Call duration'| translate }}</p>
                <p class="pop font-[400] text-[14px] leading-[21px]">00:01:07</p>
            </div>


            <div class="flex flex-col">
                <p class="mb-3 arabc-font font-[400] text-[13px] text-[#6B7280]">{{"Section"| translate}}</p>
                <p class="arabc-font font-[400] text-[14px] leading-[21px]">{{'Customer Service'| translate }}</p>
            </div>


            <div class="col-span-2 flex flex-col items-start">
                <p class="mb-3 arabc-font font-[400] text-[13px] text-[#6B7280]">{{'Employee'| translate }}</p>

                <div class="flex justify-center items-center">
                    <img src=".\images\profile-square.jpg" class="size-10 mx-1 rounded-full" alt="">
                    <p class="arabc-font font-[400] text-[14px] leading-[21px]">{{'Marwan Hassan Kilani'| translate}}</p>
                    <i class="text-red-700 text-[12px] mx-2 fa-solid fa-phone-slash"></i>

                </div>
            </div>



            <div class="flex flex-col">
                <p class="mb-3 arabc-font font-[400] text-[13px] text-[#6B7280]">{{'Waiting'| translate}}</p>
                <p class="pop font-[400] text-[14px] leading-[21px]">00:00:00</p>
            </div>



        </div>

    </div>

    <div class=" mt-3 shadow-sm border bg-white border-[#ECF0F5] p-5 rounded-2xl  ">
        <div class="  border-b border-[#dadde1] ">
            <div class="flex justify-between w-1/2">
                <p class=" arabc-font font-[500] text-[13px] text-[#3E97FF] border-b cursor-pointer ">{{'Call summary'| translate}}</p>
                <p
                    class="arabc-font font-[400] text-[13px] text-[#6B7280] hover:text-[#3E97FF] hover:border-b transition-all duration-200 cursor-pointer ">{{'Call text'| translate}}</p>
                <p
                    class="arabc-font font-[400] text-[13px] text-[#6B7280] hover:text-[#3E97FF] hover:border-b transition-all duration-200 cursor-pointer ">{{'Call path'| translate}}</p>
            </div>
        </div>


        <div class="border mt-2 border-[#ECF0F5] p-3 rounded">
            <p class="arabc-font font-[500] text-[12px] text-[#1C1C28]">{{'comments'| translate}}</p>

            <div class="px-4 py-2">
                <textarea rows="5"
                    class=" resize-none  overflow-hidden arabc-font font-[400] text-[14px] leading-[20px] w-full  text-[#1C1C28] bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 ">
        بشكل يومي حتى يتم حل. العميل بدا غير راضٍ، لكنه تقبل الحل مؤقتًا على أن تتم المتابعة الحثيثة. العميل طلب تحديث فوري عن وضع الشحنة
        المتأخرة. تم الاتفاق على إرسال تحديثات عبر البريد الإلكتروني بشكل يومي حتى يتم حل المشكلة. العميل
        بدا غير راضٍ، لكنه
        تقبل الحل مؤقتًا على أن تتم المتابعة الحثيثة. العميل بدا غير راضٍ، لكنه تقبل الحل مؤقتًا على أن تتم المتابعة الحثيثة.
                </textarea>
            </div>


            <p class="arabc-font font-[500] text-[12px] text-[#1C1C28]">{{'Tags'| translate}}</p>
            <div class="flex mt-1 gap-2">
                <div
                    class="cursor-pointer flex justify-center items-center  px-3 py-1 rounded-[10px] border border-[#C8992B] bg-[#faf5ea]">
                    <p class="arabc-font font-[400] text-[12px] text-[#C8992B]">{{'Deals'| translate}}</p>
                </div>

                <div
                    class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px] border border-[#C8992B] bg-[#faf5ea]">
                    <p class="arabc-font font-[400] text-[12px] text-[#C8992B]">{{'Deals'| translate}}</p>
                </div>

                <div class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px]  bg-[#eaf3fa]">
                    <p class="arabc-font font-[400] text-[12px] text-[#2B84C8]">{{'Customer Service'| translate}}</p>
                </div>

                <div
                    class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px] border border-[#C8992B] bg-[#faf5ea]">
                    <p class="arabc-font font-[400] text-[12px] text-[#C8992B]">{{'Deals'| translate}}</p>
                </div>

                <div class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px]  bg-[#eaf3fa]">
                    <p class="arabc-font font-[400] text-[12px] text-[#2B84C8]">{{'Customer Service'| translate}}</p>
                </div>
                <div
                    class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px] border border-[#C8992B] bg-[#faf5ea]">
                    <p class="arabc-font font-[400] text-[12px] text-[#C8992B]">{{'Deals'| translate}}</p>
                </div>

                <div class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px]  bg-[#eaf3fa]">
                    <p class="arabc-font font-[400] text-[12px] text-[#2B84C8]">{{'Customer Service'| translate}}</p>
                </div>

                <div
                    class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px] border border-[#C8992B] bg-[#faf5ea]">
                    <p class="arabc-font font-[400] text-[12px] text-[#C8992B]">{{'Deals'| translate}}</p>
                </div>


                <div
                    class="cursor-pointer flex justify-center items-center px-3 py-1 rounded-[10px] border-2 border-[#dedddd] bg-[]">
                    <i class="text-[#718096] fa-solid fa-plus"></i>
                </div>
            </div>

        </div>






        <div class="border mt-2 border-[#ECF0F5] p-3 rounded">
            <div class="flex"><i class="text-[#29DDF5] fa-regular fa-star"></i>
                <p class="arabc-font font-[500] text-[12px] leading-[14.4px] text-[#1C1C28]">{{'Quick summary'| translate}}</p> 
            </div>

            <p class="arabc-font font-[400] text-[13px] leading-[24px] text-[#6B7280]">استغرقت المكالمة مع العميل 25
                دقيقة وركزت على مشكلات الفوترة التي واجهها العميل في الفاتورة الأخيرة. بدأ العميل بالتعبير
                عن إحباطه بسبب الرسوم الإضافية غير المبررة، وطالب بتوضيح حول السياسات المتبعة. خلال المكالمة، قام الموظف
                بشرح تفاصيل
                الفاتورة وأسباب الرسوم، وقدم اعتذارًا عن أي لبس قد حدث، مع الوعد بتصحيح الخطأ في الفاتورة التالية.
                <br>
                تم تقديم اقتراح بإضافة خصم على الرسوم القادمة كتعويض، وقد قوبل الاقتراح بترحيب من العميل. كما تمت مراجعة
                سجلات العميل
                السابقة للتأكد من عدم تكرار المشكلة. في نهاية المكالمة، أعرب العميل عن رضاه بالإجراءات المتخذة وأكد أنه
                سيواصل التعامل
                مع الشركة بشرط تحسين التواصل مستقبلاً.
            </p>

            <div class=" mt-3 flex justify-between">
                <div class="flex gap-1 flex-col">
                    <p class="arabc-font font-[500] text-[12px] text-[#1C1C28] leading-[14.4px]">{{'Reason for contact'| translate }}</p>
                    <p class="arabc-font font-[400] text-[13px] text-[#6B7280] leading-[15.55px]">{{'Problem with the customer'| translate}}</p>
                </div>
                <div class="flex gap-1 flex-col">
                    <p class="arabc-font font-[500] text-[12px] text-[#1C1C28] leading-[14.4px]">{{'What the employee did' | translate}}</p>
                    <p class="arabc-font w-[500px] font-[400] text-[13px] text-[#6B7280] leading-[15.55px]">استمع الموظف
                        بكل صبر لمشكلة العميل وقام بحلها استمع الموظف بكل صبر لمشكلة العميل وقام بحلها استمع الموظف بكل
                        صبر لمشكلة
                        العميل وقام بحلها</p>
                </div>
            </div>

            <div class=" mt-3 flex justify-between">
                <div class="flex gap-1 flex-col">
                    <p class="arabc-font font-[500] text-[12px] text-[#1C1C28] leading-[14.4px]">{{'Activities to be done'| translate}}</p>
                    <p class="arabc-font font-[400] text-[13px] text-[#6B7280] leading-[15.55px]">يجب على الموظف متابعة الشحنة الخاصة بالعميل قبل الأسبوع القادم</p>
                </div>
                <div class="flex gap-1 flex-col">
                    <p class="arabc-font font-[500] text-[12px] text-[#1C1C28] leading-[14.4px]">{{'Logical solution to the call'| translate}}</p>
                    <p class="arabc-font w-[500px] font-[400] text-[13px] text-[#6B7280] leading-[15.55px]">تم جدولة مكالمة مع العميل للتأكيد على حل المشكلة</p>
                </div>
            </div>
        </div>
    </div>

    <ng-content ></ng-content>
    
</section>